<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>send_Tester_Invite</servlet-name>
        <servlet-class>servlet.send_Tester_Invite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>richcardServlet</servlet-name>
        <servlet-class>servlet.richcardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rich_card_carousels</servlet-name>
        <servlet-class>servlet.Rich_card_carousels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>textServlet</servlet-name>
        <servlet-class>servlet.textServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDevice</servlet-name>
        <servlet-class>servlet.TestDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormSubmissionServlet1</servlet-name>
        <servlet-class>ram_rcs.FormSubmissionServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_calendar_event</servlet-name>
        <servlet-class>servlet.Create_calendar_event</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>send_Tester_Invite</servlet-name>
        <url-pattern>/send_Tester_Invite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>richcardServlet</servlet-name>
        <url-pattern>/richcardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rich_card_carousels</servlet-name>
        <url-pattern>/Rich_card_carousels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>textServlet</servlet-name>
        <url-pattern>/textServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDevice</servlet-name>
        <url-pattern>/TestDevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormSubmissionServlet1</servlet-name>
        <url-pattern>/FormSubmissionServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_calendar_event</servlet-name>
        <url-pattern>/Create_calendar_event</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginD1</servlet-name>
        <servlet-class>LoginD1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SighupD1</servlet-name>
        <servlet-class>SighupD1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>SendMailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginD1</servlet-name>
        <url-pattern>/LoginD1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SighupD1</servlet-name>
        <url-pattern>/SighupD1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/SendMailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
